.sr-only {
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

span:before {
    font-family: ilw-icon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

span.ilw-icon-youtube:before {
    content: "\f101";
}
span.ilw-icon-youtube-line:before {
    content: "\f102";
}
span.ilw-icon-x:before {
    content: "\f103";
}
span.ilw-icon-x-line:before {
    content: "\f104";
}
span.ilw-icon-workshop:before {
    content: "\f105";
}
span.ilw-icon-workshop-line:before {
    content: "\f106";
}
span.ilw-icon-whatsapp:before {
    content: "\f107";
}
span.ilw-icon-whatsapp-line:before {
    content: "\f108";
}
span.ilw-icon-weibo:before {
    content: "\f109";
}
span.ilw-icon-weibo-line:before {
    content: "\f10a";
}
span.ilw-icon-website:before {
    content: "\f10b";
}
span.ilw-icon-website-line:before {
    content: "\f10c";
}
span.ilw-icon-volume:before {
    content: "\f10d";
}
span.ilw-icon-volume-line:before {
    content: "\f10e";
}
span.ilw-icon-video:before {
    content: "\f10f";
}
span.ilw-icon-video-line:before {
    content: "\f110";
}
span.ilw-icon-user:before {
    content: "\f111";
}
span.ilw-icon-user-line:before {
    content: "\f112";
}
span.ilw-icon-unit:before {
    content: "\f113";
}
span.ilw-icon-unit-line:before {
    content: "\f114";
}
span.ilw-icon-twitter:before {
    content: "\f115";
}
span.ilw-icon-twitter-line:before {
    content: "\f116";
}
span.ilw-icon-trash:before {
    content: "\f117";
}
span.ilw-icon-trash-line:before {
    content: "\f118";
}
span.ilw-icon-training:before {
    content: "\f119";
}
span.ilw-icon-training-line:before {
    content: "\f11a";
}
span.ilw-icon-tiktok:before {
    content: "\f11b";
}
span.ilw-icon-tiktok-line:before {
    content: "\f11c";
}
span.ilw-icon-tickets:before {
    content: "\f11d";
}
span.ilw-icon-tickets-line:before {
    content: "\f11e";
}
span.ilw-icon-team:before {
    content: "\f11f";
}
span.ilw-icon-team-line:before {
    content: "\f120";
}
span.ilw-icon-submit:before {
    content: "\f121";
}
span.ilw-icon-submit-line:before {
    content: "\f122";
}
span.ilw-icon-students:before {
    content: "\f123";
}
span.ilw-icon-students-line:before {
    content: "\f124";
}
span.ilw-icon-staff:before {
    content: "\f125";
}
span.ilw-icon-staff-line:before {
    content: "\f126";
}
span.ilw-icon-snapchat:before {
    content: "\f127";
}
span.ilw-icon-snapchat-line:before {
    content: "\f128";
}
span.ilw-icon-sitemap:before {
    content: "\f129";
}
span.ilw-icon-sitemap-line:before {
    content: "\f12a";
}
span.ilw-icon-shop:before {
    content: "\f12b";
}
span.ilw-icon-shop-line:before {
    content: "\f12c";
}
span.ilw-icon-settings:before {
    content: "\f12d";
}
span.ilw-icon-settings-line:before {
    content: "\f12e";
}
span.ilw-icon-send:before {
    content: "\f12f";
}
span.ilw-icon-send-line:before {
    content: "\f130";
}
span.ilw-icon-search:before {
    content: "\f131";
}
span.ilw-icon-search-line:before {
    content: "\f132";
}
span.ilw-icon-safety:before {
    content: "\f133";
}
span.ilw-icon-safety-line:before {
    content: "\f134";
}
span.ilw-icon-resources:before {
    content: "\f135";
}
span.ilw-icon-resources-line:before {
    content: "\f136";
}
span.ilw-icon-research:before {
    content: "\f137";
}
span.ilw-icon-research-line:before {
    content: "\f138";
}
span.ilw-icon-reddit:before {
    content: "\f139";
}
span.ilw-icon-reddit-line:before {
    content: "\f13a";
}
span.ilw-icon-program-of-study:before {
    content: "\f13b";
}
span.ilw-icon-program-of-study-line:before {
    content: "\f13c";
}
span.ilw-icon-plan:before {
    content: "\f13d";
}
span.ilw-icon-plan-line:before {
    content: "\f13e";
}
span.ilw-icon-pinterest:before {
    content: "\f13f";
}
span.ilw-icon-pinterest-line:before {
    content: "\f140";
}
span.ilw-icon-phone:before {
    content: "\f141";
}
span.ilw-icon-phone-line:before {
    content: "\f142";
}
span.ilw-icon-pay:before {
    content: "\f143";
}
span.ilw-icon-pay-line:before {
    content: "\f144";
}
span.ilw-icon-partners:before {
    content: "\f145";
}
span.ilw-icon-partners-line:before {
    content: "\f146";
}
span.ilw-icon-parent:before {
    content: "\f147";
}
span.ilw-icon-parent-line:before {
    content: "\f148";
}
span.ilw-icon-notification:before {
    content: "\f149";
}
span.ilw-icon-notification-line:before {
    content: "\f14a";
}
span.ilw-icon-next:before {
    content: "\f14b";
}
span.ilw-icon-next-line:before {
    content: "\f14c";
}
span.ilw-icon-news:before {
    content: "\f14d";
}
span.ilw-icon-news-line:before {
    content: "\f14e";
}
span.ilw-icon-more:before {
    content: "\f14f";
}
span.ilw-icon-more-line:before {
    content: "\f150";
}
span.ilw-icon-menu:before {
    content: "\f151";
}
span.ilw-icon-menu-line:before {
    content: "\f152";
}
span.ilw-icon-manual:before {
    content: "\f153";
}
span.ilw-icon-manual-line:before {
    content: "\f154";
}
span.ilw-icon-location:before {
    content: "\f155";
}
span.ilw-icon-location-line:before {
    content: "\f156";
}
span.ilw-icon-linkedin:before {
    content: "\f157";
}
span.ilw-icon-linkedin-line:before {
    content: "\f158";
}
span.ilw-icon-link:before {
    content: "\f159";
}
span.ilw-icon-link-line:before {
    content: "\f15a";
}
span.ilw-icon-less:before {
    content: "\f15b";
}
span.ilw-icon-less-line:before {
    content: "\f15c";
}
span.ilw-icon-job:before {
    content: "\f15d";
}
span.ilw-icon-job-line:before {
    content: "\f15e";
}
span.ilw-icon-intranet:before {
    content: "\f15f";
}
span.ilw-icon-intranet-line:before {
    content: "\f160";
}
span.ilw-icon-instagram:before {
    content: "\f161";
}
span.ilw-icon-instagram-line:before {
    content: "\f162";
}
span.ilw-icon-info:before {
    content: "\f163";
}
span.ilw-icon-info-line:before {
    content: "\f164";
}
span.ilw-icon-inclusive:before {
    content: "\f165";
}
span.ilw-icon-inclusive-line:before {
    content: "\f166";
}
span.ilw-icon-image:before {
    content: "\f167";
}
span.ilw-icon-image-line:before {
    content: "\f168";
}
span.ilw-icon-hr:before {
    content: "\f169";
}
span.ilw-icon-hr-line:before {
    content: "\f16a";
}
span.ilw-icon-hours:before {
    content: "\f16b";
}
span.ilw-icon-hours-line:before {
    content: "\f16c";
}
span.ilw-icon-home:before {
    content: "\f16d";
}
span.ilw-icon-home-line:before {
    content: "\f16e";
}
span.ilw-icon-handbook:before {
    content: "\f16f";
}
span.ilw-icon-handbook-line:before {
    content: "\f170";
}
span.ilw-icon-google-plus:before {
    content: "\f171";
}
span.ilw-icon-google-plus-line:before {
    content: "\f172";
}
span.ilw-icon-give:before {
    content: "\f173";
}
span.ilw-icon-give-line:before {
    content: "\f174";
}
span.ilw-icon-gift:before {
    content: "\f175";
}
span.ilw-icon-gift-line:before {
    content: "\f176";
}
span.ilw-icon-favorite:before {
    content: "\f177";
}
span.ilw-icon-favorite-line:before {
    content: "\f178";
}
span.ilw-icon-faq:before {
    content: "\f179";
}
span.ilw-icon-faq-line:before {
    content: "\f17a";
}
span.ilw-icon-family:before {
    content: "\f17b";
}
span.ilw-icon-family-line:before {
    content: "\f17c";
}
span.ilw-icon-faculty:before {
    content: "\f17d";
}
span.ilw-icon-faculty-line:before {
    content: "\f17e";
}
span.ilw-icon-facebook:before {
    content: "\f17f";
}
span.ilw-icon-facebook-line:before {
    content: "\f180";
}
span.ilw-icon-exit:before {
    content: "\f181";
}
span.ilw-icon-exit-line:before {
    content: "\f182";
}
span.ilw-icon-event:before {
    content: "\f183";
}
span.ilw-icon-event-line:before {
    content: "\f184";
}
span.ilw-icon-employment:before {
    content: "\f185";
}
span.ilw-icon-employment-line:before {
    content: "\f186";
}
span.ilw-icon-email:before {
    content: "\f187";
}
span.ilw-icon-email-line:before {
    content: "\f188";
}
span.ilw-icon-download:before {
    content: "\f189";
}
span.ilw-icon-download-line:before {
    content: "\f18a";
}
span.ilw-icon-donor:before {
    content: "\f18b";
}
span.ilw-icon-donor-line:before {
    content: "\f18c";
}
span.ilw-icon-document:before {
    content: "\f18d";
}
span.ilw-icon-document-line:before {
    content: "\f18e";
}
span.ilw-icon-directory:before {
    content: "\f18f";
}
span.ilw-icon-directory-line:before {
    content: "\f190";
}
span.ilw-icon-comment:before {
    content: "\f191";
}
span.ilw-icon-comment-line:before {
    content: "\f192";
}
span.ilw-icon-check:before {
    content: "\f193";
}
span.ilw-icon-check-line:before {
    content: "\f194";
}
span.ilw-icon-cancel:before {
    content: "\f195";
}
span.ilw-icon-cancel-line:before {
    content: "\f196";
}
span.ilw-icon-call:before {
    content: "\f197";
}
span.ilw-icon-call-line:before {
    content: "\f198";
}
span.ilw-icon-calendar:before {
    content: "\f199";
}
span.ilw-icon-calendar-line:before {
    content: "\f19a";
}
span.ilw-icon-bill:before {
    content: "\f19b";
}
span.ilw-icon-bill-line:before {
    content: "\f19c";
}
span.ilw-icon-back:before {
    content: "\f19d";
}
span.ilw-icon-back-line:before {
    content: "\f19e";
}
span.ilw-icon-audio:before {
    content: "\f19f";
}
span.ilw-icon-audio-line:before {
    content: "\f1a0";
}
span.ilw-icon-apply-now:before {
    content: "\f1a1";
}
span.ilw-icon-apply-now-line:before {
    content: "\f1a2";
}
span.ilw-icon-alumni:before {
    content: "\f1a3";
}
span.ilw-icon-alumni-line:before {
    content: "\f1a4";
}
span.ilw-icon-admissions:before {
    content: "\f1a5";
}
span.ilw-icon-admissions-line:before {
    content: "\f1a6";
}
